<div class="container mt-5">
  <div class="text-center mb-4">
    <h1>¡Vota por tu personaje favorito!</h1>
    <p>Da "Like" o "Dislike" a los personajes de Rick and Morty, Pokémon o Superhéroes</p>
  </div>
  
  <div class="selector text-center mb-4">
    <label for="opciones">Selecciona una opción:</label>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Selecciona una opción</mat-label>
      <mat-select [(ngModel)]="opcionSeleccionada" (selectionChange)="onSelectChange()">
        <mat-option *ngFor="let opcion of opciones" [value]="opcion.value">
          {{ opcion.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="personaje" class="mat-card personaje-card-container">
    <mat-card class="personaje-card">
      <mat-card-header>
        <div class="mat-card-image-container">
          <img [src]="personaje.image" mat-card-image alt="{{ personaje.name }}" />
        </div>
      </mat-card-header>

      <mat-card-content>
        <h5 class="text-center">{{ personaje.name }}</h5>
        <div class="buttons">
          <button mat-raised-button color="primary" cdkDragLockAxis="y" (click)="darLike()" class="btn-like">
            <mat-icon>thumb_up</mat-icon> Like
          </button>
          <button mat-raised-button color="warn" cdkDragLockAxis="y" (click)="darDislike()" class="btn-dislike">
            <mat-icon>thumb_down</mat-icon> Dislike
          </button>
        </div>
      </mat-card-content>

      <mat-card-footer>
        <div class="text-center">
          <span>{{ personaje.likes }} Likes</span> | <span>{{ personaje.dislikes }} Dislikes</span>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
